#overlay {
	z-index: 15;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}
#detector {
	z-index: 7;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}
#plott {
	border-spacing: 0px;
	position: fixed;
}
#plot {
	position: fixed;
	top: 8px;
	z-index: 3;
	pointer-events: none;
}
#toolbar {
	z-index: 4;
	position: absolute;
	margin-top: 60px;
}
.toolbar_button {
	border-style: solid;
	border-width: 4px;
	border-radius: 12px;
	border-left-style: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #a0c94f;
	image-rendering: pixelated;
	width: 48px;
	cursor: pointer;
	border-color: #704426;
}
.toolbar_button > img {
	pointer-events: none;
}
.toolbar_button:hover {
	background-color: #1f7a15;
}
.tile_b {
	cursor: pointer;
	margin: 0px;
	padding: 8px;
	background-color: white;
	box-sizing: border-box;
	opacity: 0;
}
#ticktimer {
	color: white;
	opacity: 1;
	font-size: 54pt;
	z-index: 6;
	position: absolute;
	float: right;
	bottom: 10px;
	margin-left: 0px;
	background-color: Brown;
	border-style: solid;
	border-radius: 100px;
	border-bottom-left-radius: 100px;
	padding: 2%;
	width: 7%;
	height: 10%;
	overflow: hidden;
}
#ticktimer::first-line {
	margin: auto;
}
#farmview {
	width: 100vh;
	height: 100vh;
	display: inline-block;
	border-style: solid;
	user-select: none;
	margin: auto;
	margin-right: 0px;
	background-color: black;
	border-color: #704426;
}
#menu {
	width: calc(100vw - 100vh - 8px);
	height: 100%;
	border-style: solid;
	border-left-style: none;
	position: absolute;
	left: 100vh;
	top: 0px;
	bottom: 0px;
	display: none;
}
#seeds {
	height: calc(100vh - 512px);
	width: 512px;
	border-style: solid;
	border-top-style: none;
	margin-top: 0px;
	display: none;
}
#can {
	position: absolute;
	width: calc(100vh - 16px);
	height: calc(100vh - 16px);
}
#bg {
	position: absolute;
	width: calc(100vh - 16px);
	height: calc(100vh - 16px);
}
#progress {
	pointer-events: none;
	opacity: 0.5;
	width: 496px;
	height: 10px;
	position: absolute;
	background-color: gray;
	margin: auto;
}
@media screen and (max-width: 750px) {
	#farmview {
		width: 100%;
		height: 100vw;
		display: inline-block;
		border-style: solid;
	}
	#menu {
		width: 100%;
		height: calc(100vh - 100vw);
		border-style: solid;
		border-top-style: none;
		float: none;
		position: static;
		margin-top: -4px;
	}
	#seeds {
		height: 150px;
		width: 100%;
		border-style: solid;
		border-top-style: none;
		margin-top: -4px;
	}
	#can {
		width: calc(40vw - 16px);
		height: calc(40vw - 16px);
		position: absolute;
		margin: 0px;
	}
	#progress {
		pointer-events: none;
		opacity: 0.5;
		width: calc(40vw - 16px);
		height: 10px;
		position: absolute;
		background-color: gray;
	}
}

#right_bar {
	display: inline-block;
	position: absolute;
	right: 0px;
	width: calc(100vw - 100vh);
}

.bar_button {
	background-color: #a0c94f;
	border-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	width: 100%;
	height: 15%;
	image-rendering: pixelated;
	box-sizing: border-box;
	cursor: pointer;
	border-color: #704426;
}
.bar_button:hover {
	background-color: #1f7a15;
}
.bar_button_text {
	margin: 0px;
	display: inline-block;
	vertical-align: text-top;
	user-select: none;
}

.barimg {
	margin: auto;
	display: inline-block;
}

.section {
	border-width: 8px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
	border-color: #704426;
}
#tooltip {
	background-color: #704426;
	color: white;
	border-style: solid;
	border-radius: 12px;
	padding: 12px;
}
#ttwrap {
	display: none;
	position: fixed;
	z-index: 14;
	pointer-events: none;
}
body {
	margin: 0px;
	height: 100vh;
	font-family: 'Rubik', sans-serif;
	background-image: url("images/bg.png");
	background-color: #1f7a15;
	image-rendering: pixelated;
}
.canvas {
	image-rendering: pixelated;
	overflow: hidden;
}