.panel {
	background-color: #a0c94f;
	box-sizing: border-box;
	margin: 0px;
}
.float_panel {
	background-color: #a0c94f;
	border-style: solid;
	border-color: black;
	border-radius: 16px;
	display: none;
	z-index: 6;
}
.float_panel[data-fill='main'] {
	width: 80vw;
	height: 80vh;
	position: absolute;
	left: 10vw;
	top: 10vh;
}
.panel_x {
	position: absolute;
	top: 1%;
	right: 1%;
	padding: 1.1%;
	background-color: red;
	border-style: solid;
	border-radius: 100px;
	border-color: black;
	border-width: 4px;
	box-sizing: content-box;
}
.top {
	position: absolute;
	z-index: 2;
}
#inv_items {
	margin: 7%;
	padding: 3%;
	border-style: solid;
	border-width: 6px;
	border-radius: 4px;
	height: 70%;
}
.inb {
	image-rendering: pixelated;
	border-style: solid;
	border-width: 3px;
	border-radius: 6px;
	display: inline-block;
	left: 0px;
	background-color: white;
	padding: 8px;
}
.inv_amt {
	font-size: 14pt;
	display: inline-block;
	position: relative;
	left: 0px;
}
#toolcontext {
	position: relative;
	width: 60%;
	left: 25%;
	z-index: 7;
	top: 1%;
}
.tc {
	display: none;
	height: 100%;
	padding: 1.7%;
}
#tc_Plant:hover {
	height: 40vh;
}
.tcplantseed {
	border-style: solid;
	image-rendering: pixelated;
	display: inline-block;
}
#dim {
	background-color: black;
	z-index: 5;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}